<script type="text/html" id="tmpl-IFA-focus-point">
	<div class="image-focus {{{ data.state }}}">
		<div class="image-focus__wrapper">
			{{{ data.imageObject }}}
			<div class="image-focus__point" style="left:{{{ data.left }}}; top:{{{ data.top }}};"></div>
			<div class="image-focus__clickarea"></div>
		</div>
	</div>
</script>
