.image-focus {
	display: block;

	user-select: none;
	text-align: center;

	/* ELEMENTS */
	&__wrapper {
		position: relative;

		display: inline-block;
		overflow: hidden;
	}

	&__clickarea {
		position: absolute;
		z-index: 10;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		transition: 800ms all; //No use of $curve-standard because of performance issues

		&:hover {
			background-color: rgba(#000, .1);
		}
	}

	&__point {
		position: absolute;
		z-index: 20;
		top: 50%;
		left: 50%;

		display: none;
		width: 100px;
		height: 100px;

		border: 1px solid rgba(#fff, .5);
		border-radius: 50%;
		background-repeat: no-repeat;

		cursor: move;

		transform: translate3d(-50%, -50%, 0);

		transform-style: preserve-3d; //Smooth movements
		backface-visibility: hidden; //Smooth movements
		will-change: left, top;
		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;

			width: 10px;
			height: 10px;

			border: 2px solid #fff;
			border-radius: 50%;
			background-color: rgba(#000, .5);

			transition: 200ms all $curve-standard;
			transform: translate(-50%, -50%);
		}
	}

	/* STATE MODIFIER */
	&.is-hover {
		.image-focus {
			&__point {
				&::before {
					background-color: #008ec2;
				}
			}

			&__clickarea {
				background-color: rgba(#000, .2); //Transparent layer
			}
		}
	}

	&.is-active {
		.image-focus {
			&__point {
				&::before {
					background-color: #f90;
				}
			}

			&__clickarea {
				background-color: rgba(#000, .4); //Transparent layer
			}
		}
	}
}

/* OVERWRITE WORDPRESS STYLING */
.edit-attachment-frame .attachment-media-view .details-image.image-focus__img {
	margin-bottom: 0;
}